node_defaults:
  spawn_on:
    group: ocio
  spec:
    volumes:
      - name: generic-user-home
        persistentVolumeClaim:
          claimName: generic-user-home
    volume_mounts:
      - name: generic-user-home
        mountPath: '/home/'
  
node_selectors:
  - filter:
      gnames:
        - lsst
        - lsst-ccs
      images:
        - jld-lab
    spawn_on:
      group: lsst
    spec:
      volumes:
        - name: lsst-home
          persistentVolumeClaim:
            claimName: lsst-home
        - name: lsst-data
          persistentVolumeClaim:
            claimName: lsst-data
      volume_mounts:
        - name: 'lsst-home'
          mountPath: '/home/'
        - name: 'lsst-data'
          mountPath: '/data/'
        

  - filter:
      images:
        - slac-jupyterlab-gpu
    spawn_on:
      group: ocio
    spec:
        volumes:
          - name: local-home
            persistentVolumeClaim:
              claimName: local-home
        volume_mounts:
          - name: local-home
            mountPath: '/home/'
        #extra_resource_limits:
        #  nvidia.com/gpu: "1"
