node_defaults:
  spawn_on:
    storage/staas: "true"
  spec:
    volumes:
      - name: local-home
        persistentVolumeClaim:
          claimName: local-home
    volume_mounts:
      - name: local-home
        mountPath: '/home/'
  
node_selectors:
  
  - filter:
      gnames:
        - lsst
        - lsst-a
        - lsst-b
        - lsst-c
        - lsst-d
        - lsst-e
        - lsst-f
        - lsst-g
        - lsst-h
        - lsst-i
        - lsst-j
        - lsst-k
        - lsst-l
        - lsst-m
        - lsst-n
        - lsst-o
        - lsst-p
        - lsst-q
        - lsst-r
        - lsst-s
        - lsst-t
        - lsst-u
        - lsst-v
        - lsst-w
        - lsst-y
        - lsst-z
        - lsst-ccs
      images:
        - sciplat-lab
    spawn_on:
      group/lsst: "true"
      storage/lsst: "true"
    spec:
        volumes:
          - name: lsst-home
            persistentVolumeClaim:
              claimName: lsst-home
          - name: lsst-data
            persistentVolumeClaim:
              claimName: lsst-data
          - name: scratch
            persistentVolumeClaim:
              claimName: scratch
          - name: tmp
            persistentVolumeClaim:
              claimName: tmp
        volume_mounts:
          - name: 'lsst-home'
            mountPath: '/home/'
          - name: 'lsst-data'
            mountPath: '/gpfs/slac/lsst/'
            #mountPath: '/data/'
          - name: scratch
            mountPath: '/scratch/'
          - name: tmp
            mountPath: '/tmp/'
        memory: 10G
        

#  - filter:
#      gnames:
#        - bd
#      images:
#        - slac-jupyterlab-gpu
#    spawn_on:
#      group/cryoem: "true"
#      storage/cryoem: "true"
#      accelerator: nvidia
#    spec:
#        volumes:
#          - name: jupyter-home
#            persistentVolumeClaim:
#              claimName: jupyter-home
#          - name: scratch
#            persistentVolumeClaim:
#              claimName: scratch
#          - name: tmp
#            persistentVolumeClaim:
#              claimName: tmp
#          - name: gpfs
#            persistentVolumeClaim:
#              claimName: gpfs
#          - name: nfs
#            persistentVolumeClaim:
#              claimName: nfs
#        volume_mounts:
#          - name: jupyter-home
#            mountPath: '/home/'
#          - name: scratch
#            mountPath: '/scratch/'
#          - name: tmp
#            mountPath: '/tmp/'
#          - name: nfs
#            mountPath: '/nfs/'
#          - name: gpfs
#            mountPath: '/gpfs/'
#        cpu: 4
#        memory: 10G
#        extra_resource_limits:
#          nvidia.com/gpu: "1"
#        extra_pod_config:
#          hostIPC: True

  - filter:
      images:
        - slac-jupyterlab-gpu
    spawn_on:
      group/any: "true"
      storage/staas: "true"
      accelerator: nvidia
    spec:
        volumes: 
          - name: jupyter-home
            persistentVolumeClaim:
              claimName: jupyter-home
          - name: scratch
            persistentVolumeClaim:
              claimName: scratch
          - name: tmp
            persistentVolumeClaim:
              claimName: tmp
          - name: gpfs
            persistentVolumeClaim:
              claimName: gpfs
        volume_mounts: 
          - name: jupyter-home
            mountPath: '/home/'
          - name: scratch
            mountPath: '/scratch/'
          - name: tmp
            mountPath: '/tmp/'
          - name: gpfs
            mountPath: '/gpfs/'
        cpu: 4
        memory: 10G
        extra_resource_limits:
          nvidia.com/gpu: "1"

  - filter:
      #gnames:
      #  - cdms
      images:
        - cdms-jupyterlab
    spawn_on:
      group/cdms: "true"
      storage/staas: "true"
    spec:
        volumes:
          - name: cdms-home
            persistentVolumeClaim:
              claimName: cdms-home
          - name: scratch
            persistentVolumeClaim:
              claimName: scratch
          - name: tmp
            persistentVolumeClaim:
              claimName: tmp
          - name: gpfs
            persistentVolumeClaim:
              claimName: gpfs
          - name: nfs
            persistentVolumeClaim:
              claimName: nfs
        volume_mounts:
          - name: cdms-home
            mountPath: '/home/'
          - name: scratch
            mountPath: '/scratch/'
          - name: tmp
            mountPath: '/tmp/'
          - name: nfs
            mountPath: '/nfs/'
          - name: cdms-data
            mountPath: '/gpfs/slac/staas/fs1/g/supercdms/'
        cpu: 4
        memory: 10G

  - filter:
      gnames:
        - at
        - atlas-user
      images:
        - atlas-jupyterlab-pyroot
    spawn_on:
      group/atlas: "true"
      storage/atlas: "true"
    spec:
        volumes:
          - name: atlas-home
            persistentVolumeClaim:
              claimName: atlas-home
          - name: scratch
            persistentVolumeClaim:
              claimName: scratch
          - name: tmp
            persistentVolumeClaim:
              claimName: tmp
          - name: atlas-data
            persistentVolumeClaim:
              claimName: atlas-data
        volume_mounts:
          - name: atlas-home
            mountPath: '/home/'
          - name: scratch
            mountPath: '/scratch/'
          - name: tmp
            mountPath: '/tmp/'
          - name: atlas-data
            mountPath: '/gpfs/slac/atlas/'
        cpu: 4
        memory: 10G


  - filter:
      images:
        - cryosparc-docker
    spawn_on:
      group/cryoem: "true"
      storage/cryoem: "true"
      accelerator: nvidia
    spec:
        volumes:
          - name: gpfs
            persistentVolumeClaim:
              claimName: gpfs
          - name: scratch
            persistentVolumeClaim:
              claimName: scratch
          - name: tmp
            persistentVolumeClaim:
              claimName: tmp
        volume_mounts:
          - name: gpfs
            mountPath: '/gpfs/'
          - name: scratch
            mountPath: '/scratch/'
          - name: scratch
            mountPath: '/tmp/'
        cpu: 4
        memory: 12G
        extra_resource_limits:
          nvidia.com/gpu: "2"
        env:
          CRYOSPARC_HTTP_PORT: 39000
          CRYOSPARC_LICENSE_ID: 08558f50-a6f5-11e8-aadc-6715b98a5809
          #CRYOSPARC_LICENSE_ID: 669505a2-e10e-11e8-809a-cb98feda5c1e
          HOMEDIRS: '/gpfs/slac/cryo/fs1/u/'
